In [2]:
import FinanceDataReader as fdr
import numpy as np
import matplotlib.pyplot as plt

df = fdr.DataReader('005930', '2018-05-04', '2020-01-22')
df.head()

             Open   High    Low  Close    Volume    Change
Date
2018-05-04  53000  53900  51800  51900  39565391 -0.020755
2018-05-08  52600  53200  51900  52600  23104720  0.013487
2018-05-09  52600  52800  50900  50900  16128305 -0.032319
2018-05-10  51700  51700  50600  51600  13905263  0.013752
2018-05-11  52000  52200  51200  51300  10314997 -0.005814

In [4]:
df.shape

(421, 6)

In [5]:
def MinMaxScaler(data):
    """최솟값과 최댓값을 이용하여 0 ~ 1 값으로 변환"""
    numerator = data - np.min(data, 0)
    denominator = np.max(data, 0) - np.min(data, 0)
    # 0으로 나누기 에러가 발생하지 않도록 매우 작은 값(1e-7)을 더해서 나눔
    return numerator / (denominator + 1e-7)

dfx = df[['Open','High','Low','Volume', 'Close']]
dfx = MinMaxScaler(dfx)
dfy = dfx[['Close']]
dfx = dfx[['Open','High','Low','Volume']]
dfx

                Open      High       Low    Volume
Date
2018-05-04  0.633401  0.646825  0.601610  0.595060
2018-05-08  0.617108  0.619048  0.605634  0.316465
2018-05-09  0.617108  0.603175  0.565392  0.198390
2018-05-10  0.580448  0.559524  0.553320  0.160765
2018-05-11  0.592668  0.579365  0.577465  0.100000
...              ...       ...       ...       ...
2020-01-16  0.881874  0.916667  0.891348  0.168830
2020-01-17  0.995927  0.968254  0.971831  0.196653
2020-01-20  1.000000  1.000000  1.000000  0.137469
2020-01-21  1.000000  0.984127  0.979879  0.114009
2020-01-22  0.938900  0.992063  0.947686  0.185040

[421 rows x 4 columns]

In [6]:
dfx.describe()

             Open        High         Low      Volume
count  421.000000  421.000000  421.000000  421.000000
mean     0.372409    0.374434    0.373457    0.117439
std      0.175834    0.171931    0.171432    0.084973
min      0.000000    0.000000    0.000000    0.000000
25%      0.262729    0.267857    0.269618    0.064016
50%      0.350305    0.349206    0.352113    0.101418
75%      0.443992    0.452381    0.444668    0.146095
max      1.000000    1.000000    1.000000    1.000000

In [7]:
dfy.head()

               Close
Date
2018-05-04  0.579158
2018-05-08  0.607214
2018-05-09  0.539078
2018-05-10  0.567134
2018-05-11  0.555110

In [8]:
# 두 데이터를 리스트 형태로 저장
X = dfx.values.tolist()
y = dfy.values.tolist()

In [9]:
window_size = 10

data_X = []
data_y = []
for i in range(len(y) - window_size):
    _X = X[i : i + window_size] # 다음 날 종가(i+windows_size)는 포함되지 않음
    _y = y[i + window_size]     # 다음 날 종가
    data_X.append(_X)
    data_y.append(_y)
print(_X, "->", _y)

[[0.7637474541720417, 0.7857142857111677, 0.7665995975824281, 0.323174686971615], [0.8533604887948947, 0.8333333333300265, 0.8269617706204146, 0.33335345138624783], [0.8696537678172315, 0.8769841269806469, 0.8631790744432065, 0.19622106804249292], [0.9022403258619053, 0.8888888888853615, 0.8953722333967993, 0.117672127572782], [0.9348268839065791, 0.9285714285677438, 0.927565392350392, 0.21155713424914332], [0.898167006106321, 0.8730158730124087, 0.8873239436584011, 0.1674615836301646], [0.8818737270839841, 0.9166666666630291, 0.8913480885276002, 0.16882989330989187], [0.9959266802403425, 0.968253968250126, 0.9718309859115821, 0.19665250042066781], [0.9999999999959267, 0.9999999999960317, 0.9999999999959758, 0.13746944253371812], [0.9999999999959267, 0.9841269841230789, 0.9798792756499803, 0.11400880277083453]] -> [0.9959919839639438]

In [10]:
data_y

[[0.503006012022032],
 [0.5751503005988972],
 [0.5591182364707049],
 [0.6112224448873298],
 [0.5951903807591375],
 [0.5551102204386569],
 [0.4829659318617917],
 [0.5310621242463684],
 [0.5551102204386569],
 [0.5470941883745607],
 [0.5551102204386569],
 [0.5270541082143204],
 [0.4889779559098638],
 [0.49899799598998396],
 [0.4789579158297436],
 [0.4308617234451669],
 [0.4088176352689025],
 [0.36673346693239783],
 [0.3827655310605901],
 [0.3827655310605901],
 [0.38476953907661415],
 [0.3927855711407103],
 [0.3687374749484219],
 [0.3827655310605901],
 [0.42084168336504674],
 [0.37474949899649396],
 [0.3687374749484219],
 [0.3246492985958932],
 [0.34869739478818157],
 [0.3527054108202296],
 [0.34068136272408545],
 [0.29859719438758076],
 [0.3266533066119172],
 [0.3547094188362537],
 [0.34268537074010946],
 [0.3226452905798691],
 [0.3627254509003498],
 [0.3446893787561335],
 [0.33667334669203736],
 [0.3647294589163738],
 [0.37875751502854205],
 [0.4008016032048064],
 [0.3627254509003498],
 [0.34869739478818157],
 [0.34869739478818157],
 [0.37875751502854205],
 [0.37875751502854205],
 [0.3627254509003498],
 [0.3527054108202296],
 [0.3647294589163738],
 [0.3246492985958932],
 [0.3326653306599893],
 [0.33466933867601334],
 [0.3707414829644459],
 [0.37474949899649396],
 [0.37875751502854205],
 [0.3186372745478211],
 [0.30460921843565286],
 [0.3086172344677009],
 [0.27254509017926837],
 [0.26653306613119626],
 [0.25651302605107607],
 [0.2945891783555327],
 [0.34669338677215755],
 [0.3507014028042056],
 [0.34869739478818157],
 [0.3547094188362537],
 [0.3647294589163738],
 [0.37474949899649396],
 [0.4088176352689025],
 [0.440881763525287],
 [0.4008016032048064],
 [0.4088176352689025],
 [0.36673346693239783],
 [0.34669338677215755],
 [0.29859719438758076],
 [0.3226452905798691],
 [0.30460921843565286],
 [0.2845691382754125],
 [0.26452905811517224],
 [0.33667334669203736],
 [0.3086172344677009],
 [0.3226452905798691],
 [0.34869739478818157],
 [0.3927855711407103],
 [0.3987975951887824],
 [0.4028056112208304],
 [0.3607214428843257],
 [0.3567134268522777],
 [0.33066132264396525],
 [0.29058116232348463],
 [0.29058116232348463],
 [0.3006012024036048],
 [0.314629258515773],
 [0.22645290581071562],
 [0.26252505009914817],
 [0.25450901803505205],
 [0.24649298597095592],
 [0.2685370741472203],
 [0.26452905811517224],
 [0.25851703406710014],
 [0.2444889779549319],
 [0.22444889779469157],
 [0.20440881763445126],
 [0.14228456913770626],
 [0.14228456913770626],
 [0.15831663326589854],
 [0.19639278557035514],
 [0.19839679358637916],
 [0.18837675350625901],
 [0.2685370741472203],
 [0.25450901803505205],
 [0.25250501001902803],
 [0.26252505009914817],
 [0.26452905811517224],
 [0.2745490981952924],
 [0.31062124248372497],
 [0.2825651302593885],
 [0.26653306613119626],
 [0.27254509017926837],
 [0.26252505009914817],
 [0.24849699398697997],
 [0.21442885771457143],
 [0.18637274549023497],
 [0.2004008016024032],
 [0.19839679358637916],
 [0.2064128256504753],
 [0.22444889779469157],
 [0.22845691382673963],
 [0.22845691382673963],
 [0.1763527054101148],
 [0.23246492985878772],
 [0.18837675350625901],
 [0.16032064128192255],
 [0.12224448897746595],
 [0.14028056112168225],
 [0.11022044088132175],
 [0.11222444889734579],
 [0.12024048096144192],
 [0.10220440881722563],
 [0.06012024048072096],
 [0.06813627254481709],
 [0.05811623246469693],
 [0.06613226452879306],
 [0.04809619238457677],
 [0.04809619238457677],
 [0.05410821643264886],
 [0.03607214428843258],
 [0.03206412825638451],
 [0.0501002004006008],
 [0.05210420841662483],
 [0.006012024048072096],
 [0.0],
 [0.05210420841662483],
 [0.026052104208312415],
 [0.08617234468903337],
 [0.09418837675312951],
 [0.12224448897746595],
 [0.10420841683324966],
 [0.14629258516975432],
 [0.16032064128192255],
 [0.18036072144216286],
 [0.1943887775543311],
 [0.21242484969854739],
 [0.18837675350625901],
 [0.1823647294581869],
 [0.22444889779469157],
 [0.29258517033950865],
 [0.30460921843565286],
 [0.3226452905798691],
 [0.3587174348683017],
 [0.34869739478818157],
 [0.3567134268522777],
 [0.3507014028042056],
 [0.2945891783555327],
 [0.30260521041962885],
 [0.3446893787561335],
 [0.3507014028042056],
 [0.4028056112208304],
 [0.3446893787561335],
 [0.3507014028042056],
 [0.34068136272408545],
 [0.37875751502854205],
 [0.38076152304456606],
 [0.3887775551086622],
 [0.3967935871727583],
 [0.37274549098046994],
 [0.37274549098046994],
 [0.3066132264516769],
 [0.29659318637155674],
 [0.27254509017926837],
 [0.26252505009914817],
 [0.2805611222433645],
 [0.25450901803505205],
 [0.24849699398697997],
 [0.2885771543074606],
 [0.25651302605107607],
 [0.25651302605107607],
 [0.2705410821632443],
 [0.250501002003004],
 [0.25851703406710014],
 [0.26452905811517224],
 [0.33667334669203736],
 [0.3647294589163738],
 [0.3226452905798691],
 [0.312625250499749],
 [0.3166332665317971],
 [0.29659318637155674],
 [0.2885771543074606],
 [0.30460921843565286],
 [0.3326653306599893],
 [0.36673346693239783],
 [0.38076152304456606],
 [0.37675350701251803],
 [0.3687374749484219],
 [0.3687374749484219],
 [0.3707414829644459],
 [0.3527054108202296],
 [0.37675350701251803],
 [0.38476953907661415],
 [0.3927855711407103],
 [0.38476953907661415],
 [0.3266533066119172],
 [0.314629258515773],
 [0.3166332665317971],
 [0.31062124248372497],
 [0.29258517033950865],
 [0.2885771543074606],
 [0.29659318637155674],
 [0.34869739478818157],
 [0.33667334669203736],
 [0.33867735470806143],
 [0.314629258515773],
 [0.29659318637155674],
 [0.27254509017926837],
 [0.2004008016024032],
 [0.2184368737466195],
 [0.20841683366649932],
 [0.20841683366649932],
 [0.20440881763445126],
 [0.16432865731397062],
 [0.1503006012018024],
 [0.1823647294581869],
 [0.22845691382673963],
 [0.24248496993890786],
 [0.25651302605107607],
 [0.21042084168252337],
 [0.20841683366649932],
 [0.20440881763445126],
 [0.17434869739409078],
 [0.20440881763445126],
 [0.20240480961842722],
 [0.25450901803505205],
 [0.24048096192288385],
 [0.25851703406710014],
 [0.2705410821632443],
 [0.2945891783555327],
 [0.29659318637155674],
 [0.2865731462914366],
 [0.25250501001902803],
 [0.26252505009914817],
 [0.25851703406710014],
 [0.2765531062113164],
 [0.3166332665317971],
 [0.3226452905798691],
 [0.33066132264396525],
 [0.3226452905798691],
 [0.3266533066119172],
 [0.33066132264396525],
 [0.3627254509003498],
 [0.3827655310605901],
 [0.36673346693239783],
 [0.3527054108202296],
 [0.3186372745478211],
 [0.34268537074010946],
 [0.32865731462794123],
 [0.2785571142273404],
 [0.3066132264516769],
 [0.3246492985958932],
 [0.3507014028042056],
 [0.3547094188362537],
 [0.3607214428843257],
 [0.37675350701251803],
 [0.3446893787561335],
 [0.34669338677215755],
 [0.37474949899649396],
 [0.39078156312468626],
 [0.3947895791567343],
 [0.3587174348683017],
 [0.39078156312468626],
 [0.3887775551086622],
 [0.34669338677215755],
 [0.3647294589163738],
 [0.3166332665317971],
 [0.31062124248372497],
 [0.3006012024036048],
 [0.26052104208312415],
 [0.24248496993890786],
 [0.23046092184276368],
 [0.20841683366649932],
 [0.22845691382673963],
 [0.250501002003004],
 [0.22244488977866755],
 [0.250501002003004],
 [0.25851703406710014],
 [0.24649298597095592],
 [0.2805611222433645],
 [0.2825651302593885],
 [0.26452905811517224],
 [0.26052104208312415],
 [0.24649298597095592],
 [0.26452905811517224],
 [0.2685370741472203],
 [0.2384769539068598],
 [0.26252505009914817],
 [0.25450901803505205],
 [0.23246492985878772],
 [0.26653306613119626],
 [0.33066132264396525],
 [0.3547094188362537],
 [0.37875751502854205],
 [0.3827655310605901],
 [0.3887775551086622],
 [0.38677354709263817],
 [0.37875751502854205],
 [0.41082164328492654],
 [0.4689378757496235],
 [0.4709418837656475],
 [0.4749498997976956],
 [0.4829659318617917],
 [0.45891783566950334],
 [0.4709418837656475],
 [0.438877755509263],
 [0.46492985971757544],
 [0.45691382765347927],
 [0.4068136272528785],
 [0.42284569138107075],
 [0.4128256513009506],
 [0.45891783566950334],
 [0.4448897795573351],
 [0.4689378757496235],
 [0.503006012022032],
 [0.5070140280540801],
 [0.5310621242463684],
 [0.5230460921822724],
 [0.49899799598998396],
 [0.5150300601181762],
 [0.5511022044066088],
 [0.5511022044066088],
 [0.5310621242463684],
 [0.5390781563104646],
 [0.5551102204386569],
 [0.5470941883745607],
 [0.5190380761502242],
 [0.5190380761502242],
 [0.5511022044066088],
 [0.5951903807591375],
 [0.6112224448873298],
 [0.6352705410796181],
 [0.6192384769514259],
 [0.5871743486950414],
 [0.5671342685348011],
 [0.6072144288552817],
 [0.6032064128232336],
 [0.6152304609193778],
 [0.6513026052078104],
 [0.6432865731437143],
 [0.6432865731437143],
 [0.5831663326629933],
 [0.5430861723425127],
 [0.5671342685348011],
 [0.5751503005988972],
 [0.5751503005988972],
 [0.5911823647270894],
 [0.5551102204386569],
 [0.5150300601181762],
 [0.5190380761502242],
 [0.49899799598998396],
 [0.4809619238457677],
 [0.4829659318617917],
 [0.5190380761502242],
 [0.5511022044066088],
 [0.5631262525027529],
 [0.5791583166309452],
 [0.6352705410796181],
 [0.691382765528291],
 [0.691382765528291],
 [0.7715430861692523],
 [0.75551102204106],
 [0.7434869739449158],
 [0.7434869739449158],
 [0.7234468937846755],
 [0.7034068136244352],
 [0.7194388777526275],
 [0.7635270541051562],
 [0.7354709418808197],
 [0.7114228456885313],
 [0.7234468937846755],
 [0.7234468937846755],
 [0.7354709418808197],
 [0.7755511022013004],
 [0.8476953907781655],
 [0.8837675350665981],
 [0.9038076152268384],
 [0.9038076152268384],
 [0.8637274549063578],
 [0.9318637274511749],
 [0.9559118236434633],
 [0.999999999995992],
 [0.9599198396755113],
 [0.9959919839639438]]

In [11]:
train_size = int(len(data_y) * 0.7)
train_X = np.array(data_X[0 : train_size])
train_y = np.array(data_y[0 : train_size])

test_size = len(data_y) - train_size
test_X = np.array(data_X[train_size : len(data_X)])
test_y = np.array(data_y[train_size : len(data_y)])

print('훈련 데이터의 크기 :', train_X.shape, train_y.shape)
print('테스트 데이터의 크기 :', test_X.shape, test_y.shape)

훈련 데이터의 크기 : (287, 10, 4) (287, 1)
테스트 데이터의 크기 : (124, 10, 4) (124, 1)

In [12]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout