In [24]:
from glob import glob
list_path = r'C:\Users\bluecom015\Desktop\SeSAC\data\교육 자료\데이터_분석을_위한_전처리와_시각화_with_파이썬_예제_및_연습_문제\9장\*.xlsx'
file_list=glob(list_path)
file_name_list=[]
for file in file_list:
    file_name_list.append(file.split('_')[-1][:-5])

['건강', '경제', '관계및사회참여', '교육', '삶의만족도', '안전', '여가', '환경']

In [27]:
import pandas as pd
for file_name,file in zip(file_name_list,file_list):
    print(file_name,pd.read_excel(file).iloc[:,1:4])

건강           시도    구군      평균
0      서울특별시   종로구  0.9220
1      서울특별시    중구  0.6742
2      서울특별시   용산구  0.5898
3      서울특별시   성동구  0.4794
4      서울특별시   광진구  0.6373
..       ...   ...     ...
224     경상남도   함양군  0.2036
225     경상남도   거창군  0.2150
226     경상남도   합천군  0.2128
227  제주특별자치도   제주시  0.2537
228  제주특별자치도  서귀포시  0.2537

[229 rows x 3 columns]
경제           시도    구군      평균
0      서울특별시   종로구  1.0000
1      서울특별시    중구  0.9806
2      서울특별시   용산구  0.6915
3      서울특별시   성동구  0.6533
4      서울특별시   광진구  0.4445
..       ...   ...     ...
224     경상남도   함양군  0.1401
225     경상남도   거창군  0.1799
226     경상남도   합천군  0.0373
227  제주특별자치도   제주시  0.4250
228  제주특별자치도  서귀포시  0.4250

[229 rows x 3 columns]
관계및사회참여           시도    구군      평균
0      서울특별시   종로구  0.7425
1      서울특별시    중구  0.4608
2      서울특별시   용산구  0.4317
3      서울특별시   성동구  0.4182
4      서울특별시   광진구  0.3519
..       ...   ...     ...
224     경상남도   함양군  0.2192
225     경상남도   거창군  0.5717
226     경상남도   합천군  0.0510
227  제주특별자치도   제주시  0.6107
228  제주특별자치도  서귀포시  0.6107

[229 rows x 3 columns]
교육           시도    구군      평균
0      서울특별시   종로구  0.6839
1      서울특별시    중구  0.5013
2      서울특별시   용산구  0.2679
3      서울특별시   성동구  0.2464
4      서울특별시   광진구  0.4879
..       ...   ...     ...
224     경상남도   함양군  0.5064
225     경상남도   거창군  0.8178
226     경상남도   합천군  0.1640
227  제주특별자치도   제주시  0.6468
228  제주특별자치도  서귀포시  0.6468

[229 rows x 3 columns]
삶의만족도           시도    구군  삶의 만족도
0      서울특별시   종로구  0.4437
1      서울특별시    중구  0.4976
2      서울특별시   용산구  0.6161
3      서울특별시   성동구  0.4729
4      서울특별시   광진구  0.4041
..       ...   ...     ...
224     경상남도   함양군  0.9565
225     경상남도   거창군  0.6163
226     경상남도   합천군  0.8057
227  제주특별자치도   제주시  0.7113
228  제주특별자치도  서귀포시  0.7113

[229 rows x 3 columns]
안전           시도    구군      평균
0      서울특별시   종로구  0.7470
1      서울특별시    중구  0.9320
2      서울특별시   용산구  0.5537
3      서울특별시   성동구  0.5347
4      서울특별시   광진구  0.6072
..       ...   ...     ...
224     경상남도   함양군  0.7012
225     경상남도   거창군  0.4392
226     경상남도   합천군  0.4268
227  제주특별자치도   제주시  0.4461
228  제주특별자치도  서귀포시  0.4461

[229 rows x 3 columns]
여가           시도    구군      평균
0      서울특별시   종로구  0.6331
1      서울특별시    중구  0.6691
2      서울특별시   용산구  0.2817
3      서울특별시   성동구  0.3257
4      서울특별시   광진구  0.3313
..       ...   ...     ...
224     경상남도   함양군  0.6758
225     경상남도   거창군  0.4838
226     경상남도   합천군  0.7900
227  제주특별자치도   제주시  0.6948
228  제주특별자치도  서귀포시  0.6948

[229 rows x 3 columns]
환경           시도    구군      평균
0      서울특별시   종로구  0.4637
1      서울특별시    중구  0.2865
2      서울특별시   용산구  0.5030
3      서울특별시   성동구  0.4196
4      서울특별시   광진구  0.4992
..       ...   ...     ...
224     경상남도   함양군  0.7717
225     경상남도   거창군  0.7998
226     경상남도   합천군  0.9117
227  제주특별자치도   제주시  0.6842
228  제주특별자치도  서귀포시  0.6842

[229 rows x 3 columns]

In [48]:
file_name_list
cnt=0

건강 = pd.read_excel(file_list[cnt]).iloc[:,1:4];cnt+=1
경제 = pd.read_excel(file_list[cnt]).iloc[:,1:4];cnt+=1
관계및사회참여 = pd.read_excel(file_list[cnt]).iloc[:,1:4];cnt+=1
교육 = pd.read_excel(file_list[cnt]).iloc[:,1:4];cnt+=1
삶의만족도 = pd.read_excel(file_list[cnt]).iloc[:,1:4];cnt+=1
안전 = pd.read_excel(file_list[cnt]).iloc[:,1:4];cnt+=1
여가 = pd.read_excel(file_list[cnt]).iloc[:,1:4];cnt+=1
환경 = pd.read_excel(file_list[cnt]).iloc[:,1:4];cnt+=1

In [44]:
건강[(건강['시도']=='서울특별시') & (건강['구군']=='중구')]

건강[(건강['시도']=='서울특별시') & (건강['평균']>=0.5)]

# 건강[건강[(건강['평균']>0.8) | (건강['평균']<0.3)]['시도'].str.contains('특별')]
건강[건강[건강['시도'].str.contains('특별')]['평균']>0.3]

        시도   구군      평균
0    서울특별시  종로구  0.9220
1    서울특별시   중구  0.6742
2    서울특별시  용산구  0.5898
3    서울특별시  성동구  0.4794
4    서울특별시  광진구  0.6373
..     ...  ...     ...
217  서울특별시  의령군  0.4545
218  서울특별시  함안군  0.3040
219  서울특별시  창녕군  0.6022
220  서울특별시  고성군  0.4364
223  서울특별시  산청군  0.3469

[163 rows x 3 columns]

In [53]:
### 건강 자료를 시도별로 나눠서 저장
### ex) 건강_서울특별시.csv, 건강_경기.csv 등...

조건리스트 = 건강['시도'].unique()
for 조건 in 조건리스트:
    tmp=건강[건강['시도']==조건]
    tmp.to_csv('./data/시도별/건강_'+조건+'.csv', index=False,encoding='utf-8')
    print(조건, 'Save 완료')

서울특별시 Save 완료
부산광역시 Save 완료
대구광역시 Save 완료
인천광역시 Save 완료
광주광역시 Save 완료
대전광역시 Save 완료
울산광역시 Save 완료
세종특별자치시 Save 완료
경기도 Save 완료
강원도 Save 완료
충청북도 Save 완료
충청남도 Save 완료
전라북도 Save 완료
전라남도 Save 완료
경상북도 Save 완료
경상남도 Save 완료
제주특별자치도 Save 완료

In [56]:
건강['시군구']=건강['시도']+'_'+건강['구군']
건강.head()

result=[]
for x in 건강['평균']:
    if x>0.5:
        result.append('상')
    else:
        result.append('하')
건강['비고']=result
건강.head()

      시도   구군      평균        시군구 비고
0  서울특별시  종로구  0.9220  서울특별시_종로구  상
1  서울특별시   중구  0.6742   서울특별시_중구  상
2  서울특별시  용산구  0.5898  서울특별시_용산구  상
3  서울특별시  성동구  0.4794  서울특별시_성동구  하
4  서울특별시  광진구  0.6373  서울특별시_광진구  상

In [59]:
df=건강.iloc[:,:-2].copy()
df['비고']=0

def aaa(row):
   if row>0.5:
      return '상' 
   else:
      return '하'
   
for cnt, x in enumerate(df['평균']):
   df['비고'][cnt]=aaa(x)

df

C:\Users\bluecom015\AppData\Local\Temp\ipykernel_27080\3321604562.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['비고'][cnt]=aaa(x)
C:\Users\bluecom015\AppData\Local\Temp\ipykernel_27080\3321604562.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '상' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df['비고'][cnt]=aaa(x)

          시도    구군      평균 비고
0      서울특별시   종로구  0.9220  상
1      서울특별시    중구  0.6742  상
2      서울특별시   용산구  0.5898  상
3      서울특별시   성동구  0.4794  하
4      서울특별시   광진구  0.6373  상
..       ...   ...     ... ..
224     경상남도   함양군  0.2036  하
225     경상남도   거창군  0.2150  하
226     경상남도   합천군  0.2128  하
227  제주특별자치도   제주시  0.2537  하
228  제주특별자치도  서귀포시  0.2537  하

[229 rows x 4 columns]