In [25]:
from PublicDataReader import Ecos
service_key = "UQQE9TG8R51EYPTVJO2R"
api = Ecos(service_key)
df = api.get_statistic_table_list()
df[df['검색가능여부']=='Y'][30:40]

       상위통계표코드    통계표코드                            통계명 시점 검색가능여부    출처
48  0000000022  104Y013        1.2.1.1.2. 예금은행 총수신(말잔)  M      Y  None
49  0000000022  104Y008   1.2.1.1.3. 예금은행 원화예금(종별, 평잔)  M      Y  None
50  0000000022  104Y015   1.2.1.1.4. 예금은행 원화예금(종별, 말잔)  M      Y  한국은행
51  0000000022  104Y009  1.2.1.1.5. 예금은행 원화예금(예금주별,말잔)  M      Y  None
52  0000000022  104Y010  1.2.1.1.6. 예금은행 정기예금(기간별, 말잔)  M      Y  None
54  0000000023  111Y008      1.2.1.2.1. 비은행금융기관 수신(평잔)  M      Y  None
55  0000000023  111Y007      1.2.1.2.2. 비은행금융기관 수신(말잔)  M      Y  None
57  0000000024  104Y016          1.2.2.1. 예금은행 대출금(말잔)  M      Y  None
58  0000000024  111Y009        1.2.2.2. 비은행금융기관 여신(말잔)  M      Y  None
60  0000000027  141Y002       1.2.3.1. 예금은행 지역별 수신(말잔)  M      Y  None

In [8]:
df = api.get_statistic_item_list(통계표코드="102Y004")
df.head()

,통계표코드,통계명,항목그룹코드,항목그룹명,통계항목코드,통계항목명,상위통계항목코드,상위통계항목명,시점,수록시작일자,수록종료일자,자료수,단위,가중치
0,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",Group1,계정항목,ABA1,"본원통화(평잔,계절조정계열)",None,None,A,2002,2022,21,십억원,None
1,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",Group1,계정항목,ABA1,"본원통화(평잔,계절조정계열)",None,None,M,200112,202310,263,십억원,None
2,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",Group1,계정항목,ABA104,현금통화,ABA1,"본원통화(평잔,계절조정계열)",A,2002,2022,21,십억원,None
3,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",Group1,계정항목,ABA104,현금통화,ABA1,"본원통화(평잔,계절조정계열)",M,200112,202310,263,십억원,None
4,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",Group1,계정항목,ABA103,중앙은행 대 예금취급기관부채,ABA1,"본원통화(평잔,계절조정계열)",A,2002,2022,21,십억원,None

In [9]:
df = api.get_statistic_search(통계표코드="102Y004", 주기='A', 검색시작일자='2002',검색종료일자='2022')
df

,통계표코드,통계명,통계항목코드1,통계항목명1,통계항목코드2,통계항목명2,통계항목코드3,통계항목명3,통계항목코드4,통계항목명4,단위,WGT,시점,값
0,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",ABA1,"본원통화(평잔,계절조정계열)",None,None,None,None,None,None,십억원,None,2002,33579.3
1,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",ABA1,"본원통화(평잔,계절조정계열)",None,None,None,None,None,None,십억원,None,2003,35754.7
2,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",ABA1,"본원통화(평잔,계절조정계열)",None,None,None,None,None,None,십억원,None,2004,37272.4
3,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",ABA1,"본원통화(평잔,계절조정계열)",None,None,None,None,None,None,십억원,None,2005,38785.2
4,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",ABA1,"본원통화(평잔,계절조정계열)",None,None,None,None,None,None,십억원,None,2006,41664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",ABA103,중앙은행 대 예금취급기관부채,None,None,None,None,None,None,십억원,None,2018,64986.2
59,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",ABA103,중앙은행 대 예금취급기관부채,None,None,None,None,None,None,십억원,None,2019,70281.9
60,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",ABA103,중앙은행 대 예금취급기관부채,None,None,None,None,None,None,십억원,None,2020,80315.6
61,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",ABA103,중앙은행 대 예금취급기관부채,None,None,None,None,None,None,십억원,None,2021,93549.1
62,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",ABA103,중앙은행 대 예금취급기관부채,None,None,None,None,None,None,십억원,None,2022,100750.9

In [10]:
df = api.get_statistic_search(통계표코드="200Y001", 주기="A", 검색시작일자="2015", 검색종료일자="2021")
df.head()

,통계표코드,통계명,통계항목코드1,통계항목명1,통계항목코드2,통계항목명2,통계항목코드3,통계항목명3,통계항목코드4,통계항목명4,단위,WGT,시점,값
0,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,None,2015,1658020.4
1,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,None,2016,1740779.6
2,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,None,2017,1835698.2
3,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,None,2018,1898192.6
4,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,None,2019,1924498.1

In [11]:
df = api.get_key_statistic_list()
df.head()

  통계그룹명            통계명      값        시점  단위
0  시장금리      한국은행 기준금리    3.5  20240113  %
1  시장금리       콜금리(익일물)  3.473  20240115  %
2  시장금리   KORIBOR(3개월)   3.68  20240115  %
3  시장금리     CD수익률(91일)   3.74  20240115  %
4  시장금리  통안증권수익률(364일)  3.284  20240115  %