In [33]:
data = '''
윤경환, 성형석,
김동현, 최재권,
이재범, 주미현,
윤도하, 황지의,
이승환, 박호정,
박주형, 백혜리,
차혁주,한다연,
김동민, 이예림,
박세웅, 장유미,
우만경, 김태호,
권용희, 유해성,
최지욱, 김현우'''

data

# pattern = "[^ㄱ-ㅎ가-힣,]+"

# import re
# data=re.sub(pattern, ',', data)
data

',윤경환,,성형석,,김동현,,최재권,,이재범,,주미현,,윤도하,,황지의,,이승환,,박호정,,박주형,,백혜리,,차혁주,한다연,,김동민,,이예림,,박세웅,,장유미,,우만경,,김태호,,권용희,,유해성,,최지욱,,김현우'

위아래 차이가 뭐지...??

In [5]:
data='''
윤경환, 성형석,
김동현, 최재권,
이재범, 주미현,
윤도하, 황지의,
이승환, 박호정,
박주형, 백혜리,
차혁주,한다연,
김동민, 이예림,
박세웅, 장유미,
우만경, 김태호,
권용희, 유해성,
최지욱, 김현우
'''

data

pattern = "[^ㄱ-ㅎ가-힣,]+"

import re
# import numpy as np
data=re.sub(pattern,'',data)
# data=data.split(',')
# dataList=np.reshape(data,(-1,2))
# bun=list(range(1,len(dataList)+1))
# bun=np.reshape(bun, (-1,1))
# result=np.hstack((bun,dataList))

# result
data

'윤경환,성형석,김동현,최재권,이재범,주미현,윤도하,황지의,이승환,박호정,박주형,백혜리,차혁주,한다연,김동민,이예림,박세웅,장유미,우만경,김태호,권용희,유해성,최지욱,김현우'

In [6]:
nameList=[]
nameList.append([])
nameList

[[]]

In [27]:
data = data.replace('\n', '')
data = data.replace(', ', ',')
data = data.split(',')
data

['윤경환',
 '성형석',
 '김동현',
 '최재권',
 '이재범',
 '주미현',
 '윤도하',
 '황지의',
 '이승환',
 '박호정',
 '박주형',
 '백혜리',
 '차혁주',
 '한다연',
 '김동민',
 '이예림',
 '박세웅',
 '장유미',
 '우만경',
 '김태호',
 '권용희',
 '유해성',
 '최지욱',
 '김현우']

In [28]:
import numpy as np

dataList=np.reshape(data, (-1,2))
dataList

array([['윤경환', '성형석'],
       ['김동현', '최재권'],
       ['이재범', '주미현'],
       ['윤도하', '황지의'],
       ['이승환', '박호정'],
       ['박주형', '백혜리'],
       ['차혁주', '한다연'],
       ['김동민', '이예림'],
       ['박세웅', '장유미'],
       ['우만경', '김태호'],
       ['권용희', '유해성'],
       ['최지욱', '김현우']], dtype='<U3')

In [30]:
bun=list(range(1,len(dataList)+1))
bun=np.reshape(bun, (-1,1))
bun

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12]])

In [32]:
result=np.hstack((bun, dataList))

array([['1', '윤경환', '성형석'],
       ['2', '김동현', '최재권'],
       ['3', '이재범', '주미현'],
       ['4', '윤도하', '황지의'],
       ['5', '이승환', '박호정'],
       ['6', '박주형', '백혜리'],
       ['7', '차혁주', '한다연'],
       ['8', '김동민', '이예림'],
       ['9', '박세웅', '장유미'],
       ['10', '우만경', '김태호'],
       ['11', '권용희', '유해성'],
       ['12', '최지욱', '김현우']], dtype='<U11')

In [ ]:
nameList=[]
for cnt, name in enumerate(data):
    if cnt%2:
        nameList.append([])
        
    nameList[-1].append(name)

In [2]:
# \n을 제거, ' '을 제거
# 제거: 찾는 값을 바꿀 값이 ''로
### 한글과 쉼표를 제외한 나머지값 제거

import re
def aa(data, *reLIst):
    print(reLIst[0])
    for x in reLIst[0]:
        data=re.sub(x,'',data)
        return data
    
reLIst=['\n', ' ']
aa(data, reLIst)

['\n', ' ']

'윤경환, 성형석김동현, 최재권이재범, 주미현윤도하, 황지의이승환, 박호정박주형, 백혜리차혁주,한다연김동민, 이예림박세웅, 장유미우만경, 김태호권용희, 유해성최지욱, 김현우'

In [8]:
data='''
윤경환, 성형석,
김동현, 최재권,
이재범, 주미현,
윤도하, 황지의,
이승환, 박호정,
박주형, 백혜리,
차혁주,한다연,
김동민, 이예림,
박세웅, 장유미,
우만경, 김태호,
권용희, 유해성,
최지욱, 김현우
'''

data

pattern = "[^ㄱ-ㅎ가-힣,]+"

import re
import numpy as np
data=re.sub(pattern,'',data)
data=data.split(',')
dataList=np.reshape(data,(-1,2))
bun=list(range(1,len(dataList)+1))
bun=np.reshape(bun, (-1,1))
result=np.hstack((bun,dataList))

result

array([['1', '윤경환', '성형석'],
       ['2', '김동현', '최재권'],
       ['3', '이재범', '주미현'],
       ['4', '윤도하', '황지의'],
       ['5', '이승환', '박호정'],
       ['6', '박주형', '백혜리'],
       ['7', '차혁주', '한다연'],
       ['8', '김동민', '이예림'],
       ['9', '박세웅', '장유미'],
       ['10', '우만경', '김태호'],
       ['11', '권용희', '유해성'],
       ['12', '최지욱', '김현우']], dtype='<U11')

In [9]:
import pandas as pd

df = pd.DataFrame(result, columns=['번호', '조원1', '조원2'])
시간=[5,5,5,10,10,5,5,5,3,10,3,5]
type(df),type(시간)
df['발표시간']=시간
df

    번호  조원1  조원2  발표시간
0    1  윤경환  성형석     5
1    2  김동현  최재권     5
2    3  이재범  주미현     5
3    4  윤도하  황지의    10
4    5  이승환  박호정    10
5    6  박주형  백혜리     5
6    7  차혁주  한다연     5
7    8  김동민  이예림     5
8    9  박세웅  장유미     3
9   10  우만경  김태호    10
10  11  권용희  유해성     3
11  12  최지욱  김현우     5

In [11]:
df['발표시간'].sum(), df['발표시간'].mean(), df['발표시간'].std()

(71, 5.916666666666667, 2.574643252722186)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      12 non-null     object
 1   조원1     12 non-null     object
 2   조원2     12 non-null     object
 3   발표시간    12 non-null     int64
dtypes: int64(1), object(3)
memory usage: 516.0+ bytes

In [14]:
df.describe() # 숫자로 된 필드만 기술통계 제공!

            발표시간
count  12.000000
mean    5.916667
std     2.574643
min     3.000000
25%     5.000000
50%     5.000000
75%     6.250000
max    10.000000